# Backend (NestJS)
backend/node_modules/
backend/dist/
backend/.env
backend/*.log
backend/*.tsbuildinfo

# Frontend (Flutter)
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/.packages

# Misc
.env
.DS_Store
*.log
